# Ignore compiled output

/target/

# Ignore project-specific files

Cargo.toml.orig

# Ignore editor-specific files

.vscode/
.idea/

# Ignore build artifacts
tools/build/*

*.rs.bk

# Ignore generated documentation

/doc/

# ignore proptest regressions
*/proptest-regressions/*

# macOS specific
**/.DS_Store

# log files from deployments
*_res.json
*_tx.json

.seed

# Node modules
node_modules/

contracts/liquid-collateral/package.json
contracts/liquid-collateral/package-lock.json
